/* Uygulama Ana Konteyneri */
.app-container {
  display: flex;
}

/* İçerik Alanı */
.content {
  margin-left: 250px; /* Sidebar genişliği kadar boşluk bırak */
  padding: 20px;
  flex-grow: 1; /* İçerik alanı genişlesin */
  background-color: #f8f9fa; /* Açık arka plan */
  min-height: 100vh;
  color: #333;
}
